.App {
  text-align: center;
  background-color: #000;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #FFF;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pink{
	color: pink;
	padding: 1em;
}

.nav{
	list-style: none;
	justify-content: space-around;
	padding: 1.5em 0;
	background: #449;
}

.nav a{
	color: aliceblue;
	text-decoration: none;
}

.nav a:hover{
	text-decoration: none;
	background: white;
	padding: 1.5em 0.1em;
}

#details{
	color: white;
	justify-content: space-between;
}

#details div {
	margin: 2em 0;
}

#details h1{
	margin-top: 2em;
}

#details img{
	height: 26.5em;
}

.search{
	color: #60A;
}

.search form{
	padding: 1em;
}

.search input{
	margin: 1em 0.5em;
}

.optSel{
	margin: 2em 0 2.5em;
}

.genre{
	color: white;
	margin: 1em;
}

.about{
	color: lightyellow;
}

.about p {
	padding: 0.1em 0.5em;
	margin: 0 1em;
}

.about img{
	margin: 1.75em;
	height: 25em;
}

#img2 {
	width: 40em;
}

.extraSpace{
	margin: 2em;
	padding: 2em;
}

#anime{
	background: #111;
	padding: 1em;
	color: white;
}

#anime img{
	height: 15em;
	padding: 0.5em;
}

#login {
	width: 4.5em;
}

#logout span{
	color: white;
	margin-right: 1.5em;
}

.view{
	text-align: center;
	color: aliceblue;
}

.view h2, .view h3{
	padding: 0.5em;
}

.view img{
	height: 15em;
}

.view ul{
	list-style: none;
}

.viewInput{
	margin: 0 1em;
}

#empty{
	height: 25em;
}

.footer{
	margin-bottom: -1em;
	background: #449;
	color: white;
}

@media (max-width: 40em) {
    .about img{
	height: 10em;
	}
	#img2{
		height: 6em;
		width: auto;
	}	
	#img404{
		height: 15em;
	}
	#details img{
		height: 15em;
	}
	
	#empty{
		height: 10em;
	}
	
	.search input{
		margin: 1em 0;
	}
	
	.nav a:hover{
	padding: 0.25em 0.1em;
	}
}