.App {
  text-align: center;
  background-color: #000;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #FFF;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pink{
	color: pink;
	padding: 1em;
}

.nav{
	list-style: none;
	justify-content: space-around;
	padding: 2em 0 0;
}

.optSel{
	margin-top: 5em;
}